<div class="w3-bar w3-dark-grey">
    <a class="w3-bar-item w3-button" asp-action="Index" asp-controller="Home">SibitProject</a>c
    <a class="w3-bar-item w3-button w3-hover-red w3-center" asp-action="Index" asp-controller="News">Новости</a>
    <a class="w3-bar-item w3-button w3-hover-red w3-center" asp-action="Index" asp-controller="Project">Проекты</a>
    <a class="w3-bar-item w3-button w3-hover-red w3-center" href="#">Партнеры</a>
    <a class="w3-bar-item w3-button w3-hover-red w3-center" href="#">О нас</a>
    
</div>